#testimonials {
    width: 100vw;
    height: 45.29563rem;
    flex-shrink: 0;
}

#testimonials h1 {
    color: var(--Text-dark, #202020);
    text-align: center;
    font-family: Actor;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 5rem */
    text-align: center;
    margin-top: 5rem;
}

.testimonials-container {
    margin-top: 2rem;
    /* margin-bottom: 1.5rem; */
}

.testimonials-cards {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.testimonial-card {
    width: 52.99rem;
    height: 26.42063rem;
    flex-shrink: 0;
    border-radius: 0.99138rem;
    padding: 3%;
    margin: 2% auto;
    margin-bottom: 4.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--White, #fff);
    box-shadow: 0px 3.17246px 9.51738px 0px rgba(92, 39, 192, 0.32);
}
.testimonial-head::before {
    content: "“";
    color: var(--rework-prime, #5c27c0);
    font-family: "Arya", sans-serif;
    font-size: 12.5rem;
    font-style: normal;
    font-weight: 700;
    opacity: 0.5;
    top: 3%;
    position: absolute;
    line-height: 120%; /* 15rem */
}

.testimonial-head p {
    color: var(--Text-medium, #505050);
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    padding: 5%;
    font-weight: 500;
    line-height: 120%; /* 1.8rem */
}

.testimonial-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 3.25rem; */
}
.testimonial-bottom img:nth-of-type(2) {
    display: none;
}
.testimonial-user {
    margin-top: 0.5rem;
}

.testimonial-bottom h3 {
    color: var(--Text-dark, #202020);
    font-family: Actor;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.8rem */
}

.testimonial-bottom p {
    color: var(--Text-dark, #202020);
    font-family: Gilroy-Medium;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.8rem */
}

.pagination-bullet {
    border-radius: 0.25rem !important;
    background: #d9d9d9 !important;
    width: 1rem !important;
    height: 0.375rem !important;
    /* margin-top: 1.5rem !important; */
}
.active {
    border-radius: 0.25rem !important;
    background-color: var(--rework-prime, #5c27c0) !important;
    width: 2rem !important;
    height: 0.375rem !important;
}

@media screen and (max-width: 430px) {
    #testimonials {
        padding: 2.5rem 0;
        height: auto;
    }
    #testimonials h1 {
        font-size: 2.25rem;
        margin-top: 0;
    }
    .testimonial-card {
        display: flex;
        width: 80%;
        padding: 6%;
        justify-content: center;
        align-items: center;
        border-radius: 0.84425rem;
        /* margin: 0 1.5rem; */
        height: auto;
        background: var(--rework-prime, #5c27c0);
        box-shadow: 0px 2.70169px 8.10507px 0px rgba(92, 39, 192, 0.32);
    }
    .testimonial-bottom img:nth-of-type(1) {
        display: none;
    }
    .testimonial-bottom img:nth-of-type(2) {
        display: block;
    }
    .testimonial-card p {
        color: var(--White, #fff);
        text-align: center;
        font-family: Quicksand;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 1.2rem */
    }
    .testimonial-card h3 {
        color: var(--White, #fff);
        text-align: center;
        font-family: Actor;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.5rem */
    }
    .testimonial-bottom {
        margin-top: 10%;
    }
    .testimonial-head::before {
        content: "";
    }
}
